final_agovoc_transe_50e_early_infonce_bernouillin10/trained_model.pkl filter=lfs diff=lfs merge=lfs -text
C:/Users/hp/association-rules-mining/final_agovoc_transe_50e_early_infonce_bernouillin10/trained_model.pkl filter=lfs diff=lfs merge=lfs -text
